!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body#home.home

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		%main{:role => "main"}

			%section.page_header.home_header{:style => "background-image: url('assets/img/bg_home.jpg')"}

				%h1.visuallyhidden Insurance For The Wild.
				.wrap_svg.title{:style => "max-width: 72.3rem"}
					%svg.nm_tagline.svg_inline{:viewBox => "0 0 723 298"}
						%use{"xlink:href" => "#nm_tagline"}

				-# %form#form_destination.form_destination.has_typeahead
				%form#form_activities.form_activities.has_typeahead

					%fieldset

						-# %legend Start by telling us what country you're travelling to.
						%legend Name your adventure.

						.wrap_element.wrap_input-typeahead
							-# %input#input_destination.input_typeahead{:type => "text", :name => "input_destination", :value => "", :required => true, :placeholder => "Enter your destination", "data-placeholder2" => "Could not load covered Countries", "data-placeholder3" => "Retreiving countries...", "data-placeholder4" => "Unrecognized country", "data-src" => "assets/js/datalist_countries.json"}
							%input#input_activity.input_typeahead{:type => "text", :name => "input_activity", :value => "", :required => true, :placeholder => "Enter a sport or activity", "data-placeholder2" => "Could not load covered Activities", "data-placeholder3" => "Retreiving activities...", "data-placeholder4" => "Unrecognized activity", "data-src" => "assets/js/datalist_activities.json"}
							%svg.ui_globe{:viewBox => "0 0 64 64"}
								%use{"xlink:href" => "#ui_globe"}

						%button#form_toggle.btn_rnd.brd_cream{:type => "submit"} Get A Quote

			= Haml::Engine.new(File.read("dev/haml/partials/_form_quote.haml")).render

			%section.page_articles.home_articles{"data-container" => "width-padding_1440"}

				%article

					%div{"data-container" => "width_868"}

						.wrap_svg.article_svg
							%svg.nm_logo{:viewBox => "0 0 64 64"}
								%use{"xlink:href" => "#nm_logo"}

						%h2 Why Northman?
						%p Because your legendary adventure is probably not covered by standard travel insurance. Our coverage is designed for those with an extreme sense of adventure. From scaling glaciers in Alaska to cliff diving in Zimbabwe–Northman’s got you covered.

						%a.btn_rnd.brd_orange{:href => "why.html", :title => "Find Out More"} Find Out More

				%article

					%div{"data-container" => "width_868"}

						.wrap_svg.article_svg
							%svg.ui_packages{:viewBox => "0 0 64 64"}
								%use{"xlink:href" => "#ui_packages"}

						%h2 Packages
						%p We have a package for just about everyone. We offer single-trip coverage or yearly memberships for frequent travellers, with policies for lone travellers or group excursions. Can’t find the right package? Contact us and we’ll build a plan that’s right for you.

						%a.btn_rnd.brd_orange{:href => "packages.html", :title => "Choose Your Package"} Choose Your Package

				%article

					%div{"data-container" => "width_868"}

						.wrap_svg.article_svg
							%svg.ui_coverage{:viewBox => "0 0 64 64"}
								%use{"xlink:href" => "#ui_coverage"}

						%h2 What's Covered
						%p If you can do it, we can probably cover it. Let’s put it this way–our list of what’s not covered is way shorter. Here’s a list of just a few of the adventures covered by Northman:

						%ul.list_bubble
							%li Emergency Medical Coverage
							%li Emergency Evacuation Coverage
							%li Gear coverage
							%li Accidental Death Coverage
							%li Trip Cancelation Coverage
							%li Trip Delay Coverage
							%li No out of pocket expenses
							%li Zero deductible

						%a.btn_rnd.brd_orange{:href => "coverage.html", :title => "What We Cover"} What We Cover

		-# toggled on / off through CMS
		= Haml::Engine.new(File.read("dev/haml/partials/_home_discount-modal.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render