!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body#quote.page-template-tpl-quote-php

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		-# for Wordpress only
		-# = Haml::Engine.new(File.read("dev/haml/partials/_php_stripe.haml")).render

		%main{:role => "main"}

			%section.page_header.internal_header

				%h1.visuallyhidden You're Covered
				.wrap_svg.title{:style => "max-width: 94.2rem"}
					%svg.svg_inline.nm_quote{:viewBox => "0 0 942 70"}
						%use{"xlink:href" => "#nm_quote"}

			%section#quote_articles.page_articles.internal_articles{"data-container" => "width-padding_1440"}

				%article.quote_choose

					%div.clearfix{"data-container" => "width_868"}

						%h2 Based on your information, here’s your quote:

						.error_message
							%p Please select a quote.

						%ul.quote_badges.list_badges.clearfix

							-# If landing on Quote with Family checked:
								-# #quote_title-1 = "Family Trip"
								-# #quote_title-2 = "Annual Family Membership"
								-# price is ???
							-# else:
								-# #quote_title-1 = "Single Trip"
								-# #quote_title-2 = "Annual Membership"
								-# price is ???

							%li#quote_badge-1.badge.badge_standard.badge_annual

								.badge_header

									%h6#quote_title-1 Annual Membership
									.wrap_svg
										%svg.svg_inline.ui_globe-double{:viewBox => "0 0 64 38"}
											%use{"xlink:href" => "#ui_globe-double"}

								.badge_body

									%h3
										%span.total $210.35
										%span.currency can

									:plain
										<a href="#" id="annualmember" class="btn_rnd brd_blank" title="Select">
											<span class="txt_select">Select<span class="txt_ed">ed</span></span>
										</a>

								%p.notice * Annual Membership does not include baggage insurance.

							%li#quote_badge-2.badge.badge_standard.badge_single

								.badge_header

									%h6#quote_title-2 Single Trip
									.wrap_svg
										%svg.svg_inline.ui_globe{:viewBox => "0 0 64 64"}
											%use{"xlink:href" => "#ui_globe"}

								.badge_body

									%h3
										%span.total $135.15
										%span.currency can

									:plain
										<a href="#" id="singletrip" class="btn_rnd brd_blank" title="Select">
											<span class="txt_select">Select<span class="txt_ed">ed</span></span>
										</a>

						= Haml::Engine.new(File.read("dev/haml/partials/_quote_details-captured.haml")).render

				%article.quote_details

					%div{"data-container" => "width_868"}

						= Haml::Engine.new(File.read("dev/haml/partials/_quote_accordian-single.haml")).render
						-# = Haml::Engine.new(File.read("dev/haml/partials/_quote_accordian-annual.haml")).render

						%a.btn_rnd.brd_orange{:href => "coverage.html", :title => "Full Coverage List"} Full Coverage List

				%article.quote_summary

					%div{"data-container" => "width_868"}

						%h2 Quote Summary

						%table

							%tbody

								%tr
									%td Northman Single Trip / Non-Family
									%td#summary_price $135.00

								%tr
									%td HST
									%td#summary_hst $18.00

								%tr
									%td Admin Fee
									%td#summary_admin $2.00

								%tr
									%td Total (CAN)
									%td#summary_total $153.00

				%article.quote_required

					= Haml::Engine.new(File.read("dev/haml/partials/_form_quote-required.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_form_quote-modal.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render