!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body#quote.page-template-tpl-quote-php

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		-# for Wordpress only
		-# = Haml::Engine.new(File.read("dev/haml/partials/_php_stripe.haml")).render

		%main{:role => "main"}

			%section.page_header.quote_header

				%h1.visuallyhidden Get a Quote
				.wrap_svg.title{:style => "max-width: 70.6rem"}
					%svg.svg_inline.nm_quote{:viewBox => "0 0 706 70"}
						%use{"xlink:href" => "#nm_quote"}

			%section#quote_articles.page_articles.quote_articles{"data-container" => "width-padding_1440"}

				%article.quote_options

					%div.clearfix{"data-container" => "width_868"}

						%h2 Based on your information, here’s your quote:

						.error_message
							%p Please select a quote.

						%ul.quote_badges.list_badges.clearfix

							-# If landing on Quote with Family checked:
								-# #quote_title-1 = "Family Trip"
								-# #quote_title-2 = "Annual Family Membership"
								-# price is ???
							-# else:
								-# #quote_title-1 = "Single Trip"
								-# #quote_title-2 = "Annual Membership"
								-# price is ???

							%li#quote_badge-1.badge.badge_single

								.badge_header

									%h6#quote_title-1 Single Trip
									.wrap_svg
										%svg.svg_inline.ui_globe{:viewBox => "0 0 64 64"}
											%use{"xlink:href" => "#ui_globe"}

								.badge_body

									%h3
										$135
										%span.currency can

									:plain
										<a href="#" class="btn_rnd brd_blank" title="Select">
											<span class="txt_select">Select<span class="txt_ed">ed</span></span>
										</a>

							%li#quote_badge-2.badge.badge_annual

								.badge_header

									%h6#quote_title-2 Annual Membership
									.wrap_svg
										%svg.svg_inline.ui_globe-double{:viewBox => "0 0 64 38"}
											%use{"xlink:href" => "#ui_globe-double"}

								.badge_body

									%h3
										$210
										%span.currency can

									:plain
										<a href="#" class="btn_rnd brd_blank" title="Select">
											<span class="txt_select">Select<span class="txt_ed">ed</span></span>
										</a>

						%p.notice * Annual Membership does not include baggage insurance.

						.details_captured.clearfix

							%ul
								%li
									%strong.details_label Province of Residence:
									%span.details_data Ontario
								%li
									%strong.details_label Start Date:
									%span.details_data Nov 6, 2015
								%li
									%strong.details_label End Date:
									%span.details_data Nov 11, 2015
								%li
									%strong.details_label Family:
									%span.details_data Yes
								%li
									%strong.details_label Age(s):
									%span.details_data 18, 19, 34, 41
								%li
									%strong.details_label Covered For:
									%span.details_data 35 days
								%li
									%strong.details_label Trip Cancellation:
									%span.details_data $3,000
								%li
									%strong.details_label Trip Delay:
									%span.details_data $25,000

							%a.btn_rnd.brd_orange.modal_open{:href => "#modal_quote", :title => "Edit Details"} Edit Details

				%article.quote_details

					%div{"data-container" => "width_868"}

						= Haml::Engine.new(File.read("dev/haml/partials/_quote_details-single.haml")).render
						-# = Haml::Engine.new(File.read("dev/haml/partials/_quote_details-annual.haml")).render

						%a.btn_rnd.brd_orange{:href => "coverage.html", :title => "Full Coverage List"} Full Coverage List

				%article.quote_summary

					%div{"data-container" => "width_868"}

						%h2 Quote Summary

						%table

							%tbody

								%tr
									%td Northman Single Trip / Non-Family
									%td $135.00

								%tr
									%td HST
									%td $18.00

								%tr
									%td Admin Fee
									%td $2.00

								%tr
									%td Total (CAN)
									%td $153.00

				%article.quote_required

					%div{"data-container" => "width_868"}

						%h2 Required Information

						= Haml::Engine.new(File.read("dev/haml/partials/_form_quote-required.haml")).render



		= Haml::Engine.new(File.read("dev/haml/partials/_form_quote-modal.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render