!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body#quote.page-template-tpl-quote-php

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		-# 'data-step' changes based on current STEP
		%main{:role => "main", "data-step" => "4"}

			= Haml::Engine.new(File.read("dev/haml/partials/_quote_nav-steps.haml")).render

			%section#quote_articles.page_articles.internal_articles{"data-container" => "width-padding_1440"}

				-# article class + content changes based on current STEP
				%article.quote_finalize

					%div.quote_summary{"data-container" => "width_868"}

						%h2 Quote Summary

						%table

							%tbody

								%tr
									%td#policy-name Northman Single Trip / Non-Family
									%td#policy-premium $135.00

								%tr
									%td Adventure &amp; Sport Package
									%td#policy-fee $18.00

								%tr
									%td HST
									%td#policy-tax $2.00

								%tr
									%td Total (CAN)
									%td#policy-total $153.00

					= Haml::Engine.new(File.read("dev/haml/partials/_form_quote-required.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render